<IfModule mod_evasive20.c>
    DOSHashTableSize    {{ modevasive_hash_table_size }}
    DOSPageCount        {{ modevasive_page_count }}
    DOSSiteCount        {{ modevasive_site_count }}
    DOSPageInterval     {{ modevasive_page_interval }}
    DOSSiteInterval     {{ modevasive_site_interval }}
    DOSBlockingPeriod   {{ modevasive_blocking_period }}

    DOSLogDir           "{{ modevasive_log_dir }}"
</IfModule>
