<IfModule mod_evasive20.c>
    DOSHashTableSize    {{ apache2_evasive_hash_table_size }}
    DOSPageCount        {{ apache2_evasive_page_count }}
    DOSSiteCount        {{ apache2_evasive_site_count }}
    DOSPageInterval     {{ apache2_evasive_page_interval }}
    DOSSiteInterval     {{ apache2_evasive_site_interval }}
    DOSBlockingPeriod   {{ apache2_evasive_blocking_period }}

    DOSLogDir           "{{ apache2_evasive_log_dir }}"
</IfModule>
