[xdebug]
zend_extension=xdebug.so
xdebug.remote_enable=1
xdebug.remote_port={{ php_xdebug_remote_port | default("9000") }}
xdebug.profiler_enable=1
xdebug.profiler_output_dir={{ php_xdebug_profiler_output_dir |  default("/tmp") }}