[mysql]
key_buffer = {{ mysql_key_buffer|default('8M') }}
max_connections = {{ mysql_max_connections|default('10') }}
query_cache_size = {{ mysql_query_cache_size|default('8M') }}
query_cache_limit = {{ mysql_query_cache_limit|default('512K') }}
thread_stack = {{ mysql_thread_stack|default('128K') }}